<h1>TeamMappings#index</h1>
<p>Find me in app/views/team_mappings/index.html.erb</p>

homeProbability
drawProbability
awayProbability
createdDate
homeTeam_id
awayTeam_id
expertId
bettingType
matchId
matchDate
homeGoals
awayGoals
winner
matchTime
homeProbabilityhalftime
drawProbabilityhalftime
awayProbabilityhalftime
over15GoalsProbability
over25GoalsProbability
over35GoalsProbability

